@use '../../styles/base/variables' as *;
@use '../../styles/base/mixins' as *;

.faqs-page {
  background-color: $color-primary-background;
  color: $color-dark;

  .faq-container {
    padding: 4rem 1.5rem;

    @include container;
  }
}
