// Logo.scss
@use '../../../styles/base/variables' as *;
@use '../../../styles/base/mixins' as *;

.logo {
  &--in-footer {
    .logo__image {
    margin-left: -4rem;
    height: 55px;
    
     @include responsive(sm) {
     margin-left: -2.5rem;
     height: 40px;
    }
     
    }
  }

  &__link {
    // This now directly contains the image
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__image {
    // New class for styling the logo image
    height: 70px; // Adjust height to your preference
    width: auto; // This will maintain the image's aspect ratio
    
    @include responsive(md) {
      height: 55px;
    }
    
    @include responsive(sm) {
      height: 55px;
    }
  }
}