@use '../../styles/base/variables' as *;
@use '../../styles/base/mixins' as *;

.scrap-guide {
  background-color: $color-accent-background;
  padding: 5rem 1.5rem;
  @include responsive(sm) {
    padding: 2rem 1rem; 
  }
  

  .container {
    @include container;
    max-width: 900px;
  }

  h2 {
    font-size: 2.4rem;
    color: $color-dark;
    text-align: center;
    margin-bottom: 3rem;

    @include responsive(md) {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    @include responsive(sm) {
      font-size: 1.75rem;
    }
  }

  .accordion {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .accordion-item {
    background: $color-light;
    border: 1px solid #ca45450d;
    // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    transition: all 0.3s ease;

    &.active {
      .accordion-answer {
        max-height: 1000px;
        padding: 1rem 1.5rem 1.5rem;
      }

      .accordion-icon {
        transform: rotate(180deg);
      }
    }
  }

  .accordion-question {
    padding: 1.25rem 1.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: $color-dark;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary-background;
    transition: background 0.3s ease;
    width: 100%;
    @include responsive(sm) {
        font-size: 0.8rem;
        padding: 1rem 1rem;
      }
   
    .accordion-icon {
      font-size: 1.2rem;
      color: $color-primary;
      transition: transform 0.3s ease;
    }
  }

  .accordion-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 1.5rem;
    transition: max-height 0.4s ease, padding 0.3s ease;

    p {
      font-size: 1rem;
      line-height: 1.6;
      color: $color-dark;

      @include responsive(sm) {
        font-size: 0.8rem;
      }

      + p {
        margin-top: 1rem;
      }
    }

    ul {
      padding-left: 1.2rem;
      margin-top: 0.5rem;

      li {
        list-style: disc;
        margin-bottom: 0.5rem;
      }
    }
  }
}
